<form class="mt-4" name="container-form" method="POST" action="/posts/handle-form-actions">
    <div>
        <h3>Bài viết của tôi</h3>
        <a href="/me/trash/posts">Thùng rác ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="delete">Xoá</option>
            </select>

            <button class="btn btn-primary check-all-submit-btn btn-sm disabled">Thực hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Chi tiết bài viết</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="" name="postIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/posts/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="/posts/{{this._id}}" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-post-modal">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng bài viết nào.
                    <a href="/posts/create">Đăng bài viết</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete post --}}
<div id="delete-post-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá bài viết này</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-post" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}

<form method="POST" name="delete-post-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var postId;
        // Chọn form delete
        var deleteForm = document.forms['delete-post-form'];
        // 
        var containerForm = document.forms['container-form']
        // Nút xác nhận xoá bài viết trong modal
        var btnDeletePost = document.getElementById('btn-delete-post');
        // check box tất cả
        var checkboxAll = $('#checkbox-all');
        // check box của từng dòng dữ liệu
        var postItemCheckbox = $('input[name="postIds[]"]');
        // Nút thực hiện
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        // Khi nút xoá bài viết được nhấp vào -> lấy được id của bài viết đó (postId)
        $('#delete-post-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postId = button.data('id'); // dùng jquery lấy dc id của bviet
        });

        // Khi nút xác nhận xoá bviet trong modal được click
        btnDeletePost.onclick = function () {
            deleteForm.action = '/posts/' + postId + '?_method=DELETE';
            deleteForm.submit(); //submit form xoá bài viết (dòng 79)
        }

        // Khi nút chọn tất cả được click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            postItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // khi ô checkbox của từng bviet thay đổi -> ô checkbox tất cả cũng sẽ thay đổi theo
        postItemCheckbox.change(function () {
            var isCheckedAll = postItemCheckbox.length === $('input[name="postIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Khi thực hiện được click
        checkAllSubmitBtn.click('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disabled');
            if (!isSubmittable) {
                e.preventDefault();
            }
        })

        // Nút thực hiện sẽ có thể sử dụng hoặc là disable khi các checkbox của tất cả bviet ko được checked
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="postIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled')
            } else {
                checkAllSubmitBtn.addClass('disabled')
            }
        }


    });


</script>